[Unit]
Description=Node Exporter Version {{ nodes_exporter_version }}
After=network-online.target

[Service]
User={{ nodes_exporter_user }}
User={{ nodes_exporter_group }}
Type=simple
ExecStart={{ nodes_exporter_bin }}

[Install]
WantedBy=multi-user.target